/*Index 
the login pages*/

body {
    padding: 0;
    margin: 0;
  }

#loginContainer {    
    position:absolute;
    height: 100vh;
    width: 100%;
    /* this is the page container for 1 page*/
}

.loginStructure {
    flex: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 25vw;
    display: grid;
    justify-content:center;
    vertical-align: auto;
    text-align: center;
    border: 5px solid rgb(52, 52, 255);
    border-radius: 5px;
    /* background-color: rgba(0, 0, 0, 0.548);  */
    /* black to view individual ids */
}

#loginPageBooksimg {
    height: 200px;
    width: 200px;
    margin-top: 100px;
}

#loginBtn {
    justify-content: space-between;
    background-color: rgb(60, 60, 182);
    height: 25px;
    width: 150px;
    border-radius: 25px;
    border-style: none;
}

p {
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
}

.memberLogin {
    display:grid;
    vertical-align:middle;
}

.userInfo {
    display:grid;
    vertical-align: auto;
    align-self: center;
    text-align: left;
}

#mainPage {
    height:fit-content;
    width: fit-content;
    /* display: flex; */
    flex-direction: column;
}

#topBar {
    height: 15vh;
    width: 100vw; 
    display: flex;
    flex-direction: row;
    /* background-color: rgb(60, 60, 182); */
    justify-content: space-between;
    align-items: baseline;
}

#leftTop {
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 151);
    border-right: 3px solid rgb(0, 0, 151);
}

#usernameDisplay {
    padding-left: 100px;
    padding-right: 1500px;
}

#InformationContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* background-color: black; */
}

#leftContainer {
    height: auto;
    width: 20vw;
    display: flex;
    flex-direction: column;
    /* justify-content:space-evenly; */
    align-items: center;
    /* background-color: green; */
    border-right: 3px solid rgb(0, 0, 151);
    
}

.rightContainer {
    height: auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    padding-left: 20px;
}

h2 {
    grid-column: 1 / -1;
}

/* .bookContainer {
    height: 25vh;
    width: 60vw;
    display: flex;
    background-color: yellow;
} */

.bookTitle {
    box-sizing: border-box;
    width: 100%;
    font-size: small;
    overflow-wrap: break-word;
    text-align: center;
}

#gridContainer {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(6, 130px);
    width: auto;
}

/* .gridItem {
    background-color: blueviolet;
} */

img {
    width: 130px;
    height: 200px;
    border-radius: 10px;
}

.mainBtn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 3px rgba(0, 0, 0, 0.1);
    background-color: rgb(60, 60, 182);
    color: white;
  }
  
  /* Hover state */
  .mainBtn:hover {
    background-color: rgb(46, 46, 134);
  }