/*Index 
the login pages*/

#loginContainer {    
    position:absolute;
    height: 100vh;
    width: 100%;
    /* this is the page container for 1 page*/
}

.loginStructure {
    flex: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 25vw;
    display: grid;
    justify-content:center;
    vertical-align: auto;
    text-align: center;
    border: 5px solid rgb(52, 52, 255);
    border-radius: 5px;
    /* background-color: rgba(0, 0, 0, 0.548);  */
    /* black to view individual ids */
}

#loginPageBooksimg {
    height: 200px;
    width: 200px;
    margin-top: 100px;
}

#loginBtn {
    justify-content: space-between;
    background-color: rgb(60, 60, 182);
    height: 25px;
    width: 150px;
    border-radius: 25px;
    border-style: none;
}

p {
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
}

.memberLogin {
    display:grid;
    vertical-align:middle;
}

.userInfo {
    display:grid;
    vertical-align: auto;
    align-self: center;
    text-align: left;
}

.mainPage {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.topBar {
    height: 15vh;
    width: 100vw; 
    display: flex;
    flex-direction: row;
    background-color: rgb(60, 60, 182);
}

.informationContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.leftContainer {
    height: auto;
    width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: green;
}

#rightContainer {
    height: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    background-color: red;
}

#bookContainer {
    height: 25vh;
    width: 60vw;
    display: flex;
    background-color: yellow;
}

#mainBtn {
    justify-content: space-between;
    background-color: rgb(60, 60, 182);
    height: 25px;
    width: 150px;
    border-radius: 25px;
    border-style: none;
}p