#tableContainer2 {
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 40vh; */
    width: 50vw;
    margin-left: 200px;
  }

  table {
    width: 100%;
    /* height:100%; */
    background-color: rgb(192, 192, 192);
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 20px;
  }

  td {
    width: (100% - 30px)/3;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 30px;
  }

  td:last-child, th:last-child {
    border: 1px solid black;
    width: 30px;
  }

  td:first-child, th:first-child {
    padding-left: 10px;
  }

  th {
    text-align: left;
    height: 30px;
    background-color: rgb(145, 145, 145);
  }

  .borderless {
    border: none;
  }

  .tableOverdue {
    height:auto;
    width:50vw;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(216, 215, 215);
  }

  #AORbtn {
    display: flex;
    justify-content: space-around;
  }